media/wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://peopleask.ooz.ie/soap" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	targetNamespace="http://peopleask.ooz.ie/soap"
	>
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://peopleask.ooz.ie/soap">
      <s:element name="GetQuestionsAbout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="query" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestionsAboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQuestionsAbout" 
		type="tns:ArrayOfstring"
		/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfstring">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetQuestionsAboutSoapIn">
    <part name="parameters" element="tns:GetQuestionsAbout"/>
  </message>
  <message name="GetQuestionsAboutSoapOut">
    <part name="parameters" element="tns:GetQuestionsAboutResponse"/>
  </message>
  <portType name="PeopleAskServiceSoap">
    <operation name="GetQuestionsAbout">
      <input message="tns:GetQuestionsAboutSoapIn"/>
      <output message="tns:GetQuestionsAboutSoapOut"/>
    </operation>
  </portType>
  <binding name="PeopleAskServiceSoap" type="tns:PeopleAskServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetQuestionsAbout">
      <soap:operation soapAction="http://peopleask.ooz.ie/soap/GetQuestionsAbout" 
	style="document"
	/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PeopleAskService">
    <port name="PeopleAskServiceSoap" binding="tns:PeopleAskServiceSoap">
      <soap:address location="http://peopleask.ooz.ie/soap"/>
    </port>
  </service>
</definitions>
